body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: sans-serif;
}

.movie_title{
  clear: both;
}

.movie_title h1{
  margin-left: 30px;
}


.poster{
  margin: 40px;
  width: 300px;
  height: 500px;
  display: block;
  float:left;
}

.info{
  padding-top: 30px;
  width: 60%;
}
.title {
  background: #E0E0E0;
}

hr{
  height: 2px;
}

.flexBox{
  display: flex;
  margin: 5px 0px;
}

.flexBox a:enabled{
  color: #008080;
}

.category{
  width: 100px;
}

.rightTable{
  margin-left: 50px;
}

.rightTable p{
  padding-top: 4px;
  font-size: 1.3em;
  line-height: .6em;
}
